
<div>{{amount | currency : "USD"}}</div>
<div class="alert alert-success">
  <strong>Full body:!</strong> {{todos | json}}
</div>
<div class="container">
  <h2>Bordered Table</h2>
  <p>The .table-bordered class adds borders on all sides of the table and the cells:</p>
  <div style="text-align: center">
    <input type="text" [(ngModel)]="search">
  </div>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Text</th>
      <th>Email</th>
      <th>Status</th>
      <th>Due Date</th>
      <th>Days Overdue</th>
      <th>Score 1</th>
      <th>Score 2</th>
      <th>Score 3</th>
      <th>Total Score</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let todo of todos |filter :search">
      <td>{{todo.id}}</td>
      <td>{{todo.text}}</td>
      <td>{{todo.email | uppercase}}</td>
      <td [ngSwitch]="todo.completed">
        <span *ngSwitchCase="true">Completed</span>
        <span *ngSwitchCase="false">Incomplete </span>
      </td>
      <td>{{todo.dueDate | date : "short"}}
      <td>{{todo.dueDate | overdue}}</td>
      <td>{{todo.score1}}</td>
      <td>{{todo.score2}}</td>
      <td>{{todo.score3}}</td>
      <td>{{todo.score3 | score : todo.score1 : todo.score2}}</td>
    </tr>
    </tbody>
  </table>
</div>

